$icon-color: black;
$dark-mode-icon-color: #cccccc;
$shen-green: #00400e;
$link-color: black;
$invert-link-color: white;
$navbar-separator-color: #333333;
$player-thumbnail-background-color: white;

$navbar-height: 4em;
$header-height: 2.5em;
