$highlight-color: #008000;
$highlight-color-background: rgba(0, 128, 0, 0.5);
$icon-color: #333333;
$dark-mode-icon-color: #cccccc;
$link-color: black;
$invert-link-color: white;
$navbar-separator-color: #333333;
$player-thumbnail-background-color: white;

$navbar-height: 4em;
$header-height: 2.5em;
