$icon-color: black;
$dark-mode-icon-color: #cccccc;
$shen-green: #00400e;
$link-color: white;
$navbar-separator-color: #333333;
$player-thumbnail-background-color: #c0c0c0;

$navbar-height: 3.5em;
$header-height: 3em;
