body {
  background-color: transparent;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.container-table {
  background-image: url('logo.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.title {
  font-weight: bold;
}

.jumbotron {
  background-color: white;
  padding: 0.5em 1em !important;
  margin-bottom: 0;
}

.nav-item {
  padding: 0 10px;
}

.navbar-brand {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;
  &:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  .navbar-brand {
    color: white !important;
  }

  .jumbotron {
    background-color: black;
  }

  a {
    color: white;

    &:hover {
      color: white;
      font-weight: bold;
    }
  }
}

