body {
  background-color: #DDDDDD;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.container-table {
  background-image: url('logo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

h3 {
  text-align: center;
}

.jumbotron {
  background-color: #DDDDDD;
  padding: 0.5em 0 !important;
  margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  .jumbotron {
    background-color: black;
  }
}

