@import 'theme';


.btn:hover {
  color: $link-color;
  background: none;
}

.nav-item {
  .link-icon, .icon-label {
    color: rgba(0, 0, 0, 0.66);
  }

  a.active {
    .link-icon, .icon-label {
      font-weight: bold;
      color: rgba(0, 0, 0, 1.0);
    }

    .btn:hover {
      color: rgba(255, 255, 255, 1.0);
    }
  }
}

.navbar-bottom {
  .btn {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .nav-item {
    .link-icon, .icon-label {
      color: rgba(255, 255, 255, 0.6);
    }

    a.active {
      .link-icon, .icon-label {
        color: rgba(255, 255, 255, 1.0);
      }

      .btn:hover {
        color: $invert-link-color;
      }
    }
  }
}