@import 'theme';


.btn:hover {
  color: $link-color;
  background: none;
}

.nav-item {
  .link-icon {
    -webkit-filter: drop-shadow(1px 1px $link-color) drop-shadow(-1px -1px $link-color);
    filter: drop-shadow(1px 1px $link-color) drop-shadow(-1px -1px $link-color);
    color: $invert-link-color;
  }

  a.active {
    .link-icon {
      -webkit-filter: none;
      filter: none;
      color: $link-color;
      font-size: 1.25em;
    }
  }
}

.navbar-bottom {
  .btn {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .nav-item {
    .link-icon {
      -webkit-filter: drop-shadow(1px 1px $invert-link-color) drop-shadow(-1px -1px $invert-link-color);
      filter: drop-shadow(1px 1px $invert-link-color) drop-shadow(-1px -1px $invert-link-color);
      color: $link-color;
    }

    a.active {
      .link-icon {
        -webkit-filter: none;
        filter: none;
        color: $invert-link-color;
      }

      .btn:hover {
        color: $invert-link-color;
      }
    }
  }
}