  $shen-green: #00400e;

.row:first-child {
  background-color: #CCCCCC !important;
  font-weight: bold;
}

.row:nth-child(even) {
  background-color: #E2EFD9;
}

.row:nth-child(odd) {
  background-color: #DDDDDD;
}

.col-1, .col-2 {
  text-align: center;
}
.row {
  opacity: 1.0;
}

.img-thumbnail {
  height: 3em;
  background: none;
  border: none;
}

.detail-content {
  width: 100% !important;
  height: 100%;
  background: gray !important;
  border-color: gray !important;

  .player-name {
    margin: 10px;
    text-align: center;
  }
}

.detail-header {
  padding-top: 2px;
}

h3, h4 {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .row:first-child {
    background-color: #333333 !important;
    font-weight: bold;
  }

  .row:nth-child(even) {
    background-color: $shen-green;
    color: white;
  }

  .row:nth-child(odd) {
    background-color: black;
    color: white;
  }

  .detail-content {
    background: black !important;
    border-color: black !important;
  }

  .popup-content .close {
    color: white;
  }
}