@import 'theme';

.player-detail-image-container {
  img.player-detail {
    height: 25%;
    width: 100%;
  }
  margin-bottom: 1em;
}

.container-player-detail {
  img.player-head-shot {
    height: 4em;
    background: none;
    //border: 1px solid $navbar-separator-color !important;
  }

  .player-name {
    text-align: center;
  }

  .player-form-label {
    font-weight: bold;
    margin-top: 1em;
  }

  .image-music {
    margin-left: 0.5em;
    margin-bottom: 0.1em;
    background: none;
    height: 1em;
  }
}
