@import 'theme';

.container-player-detail {
  .player-name {
    text-align: center;
  }

  img {
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
  }

  img.player-head-shot {
    margin-top: -1em;
    height: 4em;
    background-color: #aaaaaa;
    border: 2px solid $navbar-separator-color;
    z-index: 1060;
  }

  img.player-detail {
    width: 100%;
  }

  .player-form-label {
    font-weight: bold;
    margin-top: 1em;
  }
}
