@import 'theme';

.header-row {
  top: $navbar-height;
  margin: 0;
  height: $header-height;

  .btn {
    padding: 0 0.5em;
    background: none;
  }
}


// All landscape
@media only screen and (orientation: landscape)  {
  .roster-container, .schedule-container, .standings-container {
    max-width: 100%;
  }
}

 // iPad
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation: portrait)
{
  .roster-container, .schedule-container, .standings-container {
    max-width: 100%;
  }
}