@import 'theme';

.header-row {
  top: 4em;
  margin: 0;
  height: 2.5em;

  .btn {
    padding: 0 0.5em;
    background: none;
  }
}

// iPad
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation: portrait)
{
  .header-row {
    margin: 0 24px;
  }
}
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation: landscape)
{
  .header-row {
    margin: 0 32px;
  }
}

// iPhone 5
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape)
{
  .header-row {
    margin: 0;
  }
}

// iPhone 6, 6S, 7, and 8
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .header-row {
    margin: 0 64px;
  }
}

// iPhone 6+, 7+ and 8+
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
  .header-row {
    margin: 0 98px;
  }
}

// iPhone X
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
  .header-row {
    margin: 0 46px;
  }
}