@import 'theme';

.player-stats-container {
  .header-row {
    .btn {
      padding: 0 0.5em 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.col-0-5 {
  flex: 0 0 4.17%;
  max-width: 4.17%;
}

.col-1-5 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.col-2-5 {
  flex: 0 0 20.83%;
  max-width: 20.83%;
}

.col-3-5 {
  flex: 0 0 29.1%;
  max-width: 29.1%;
}

// All landscape
@media only screen and (orientation: landscape) {
  .player-stats-container {
    max-width: 100%;
  }
}

// iPad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation: portrait)
{
  .player-stats-container {
    max-width: 100%;
  }
}