@import 'theme';

.navbar-left-link {
  margin-left: 0.5em;
  .btn {
    font-size: 1.25em;
  }
}

.navbar-top {
  padding: 0 1em;
  height: $navbar-height;
  text-align: center;
  .col-image {
    text-align: right;
    img {
      margin-right: 1em;
    }
  }
}

.navbar-content {
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .navbar-top {
    background-color: black;
  }
}