@import 'theme';

.navbar-left-link {
  margin-left: 0.5em;
}

.navbar-top {
  font-size: 1.25em;
  padding-top: 0;
  .col-image {
    padding-right: 1em;
  }
  img {
    margin-top: -0.25em;
  }
}

.navbar-content {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .navbar-top {
    background-color: black;
  }
}